* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	line-height: 1;
	background: cornflowerblue;
}

.wrap-box {
	width: 600px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -300px;
	background: #e3e3e3;
	border-radius: 2px;
}
.inner {
	padding: 10px;
}
input {
	border: 1px solid cornflowerblue;
	line-height: 1;
	padding: 10px 20px;
	border-radius: 2px;
}

/*CALENDAR*/
.calendar {
	position: absolute;
	top: 0;
	left: 0;
	width: 455px;
	min-height: 340px;
	background: #F7F7F7;
}
.calendar li {
	list-style: none;
}
.head .primary {
	color: #FFF;
	font-size: 20px;
	background: #8FCEFE;
	font-family: "Microsoft Yahei";
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.head .secondary {
	color: #666666;
	background: #F7F7F7;
}
.head .weeks {
	overflow: hidden;
}
.head .weeks li {
	text-align: center;
	float: left;
	width: 14.28%;
	height: 30px;
	line-height: 30px;
}
.calendar .main {
	height: 280px;
}
.calendar .main li {
	float: left;
	width: 64px;
	height: 45px;
	background: #FFF;
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
}