* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	line-height: 1;
	background: cornflowerblue;
}

.wrap-box {
	width: 600px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -300px;
	background: #e3e3e3;
	border-radius: 2px;
}
.inner {
	padding: 10px;
}
input {
	border: 1px solid cornflowerblue;
	line-height: 1;
	padding: 10px 20px;
	border-radius: 2px;
}

/*CALENDAR*/
.calendar {
	width: 460px;
	height: 340px;
	background: #F7F7F7;
}
.head .primary {
	color: #FFF;
	font-size: 20px;
	background: #8FCEFE;
	font-family: "Microsoft Yahei";
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.head .secondary {
	color: #666666;
	background: #F7F7F7;
}